<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>packingListItems</key>
	<array>
		<dict>
			<key>itemName</key>
			<string>Snacks</string>
			<key>itemDetail</key>
			<string>nuts, fruit, etc</string>
			<key>itemChecked</key>
			<false/>
		</dict>
		<dict>
			<key>itemName</key>
			<string>MiFi</string>
			<key>itemDetail</key>
			<string>don&apos;t forget the charger</string>
			<key>itemChecked</key>
			<false/>
		</dict>
		<dict>
			<key>itemName</key>
			<string>cameras</string>
			<key>itemDetail</key>
			<string></string>
			<key>itemChecked</key>
			<false/>
		</dict>
		<dict>
			<key>itemName</key>
			<string>rent check for November</string>
			<key>itemDetail</key>
			<string>address the envelope and stamp in ahead of time!</string>
			<key>itemChecked</key>
			<false/>
		</dict>
		<dict>
			<key>itemName</key>
			<string>plane ticket home</string>
			<key>itemDetail</key>
			<string></string>
			<key>itemChecked</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
